
.mt-full {
    margin-top: 100vh !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}


.mt-80 {
    margin-top: 80px !important;
}


.mt-90 {
    margin-top: 90px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

::-webkit-scrollbar {
    width: 0px;
    ;
}

::-webkit-scrollbar-track {
    background: #ffff;
}

::-webkit-scrollbar-thumb {
    background: #222222;
}



body {
    background: #181818;
    height: 100%;
    overflow: hidden;
}


.background {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.paper {
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center center !important;
}

.picture-0 {
    background: url('../img/1.jpg') no-repeat;
}

.picture-1 {
    background: url('../img/2.jpg') no-repeat;
}

.picture-2 {
    background: url('../img/3.jpg') no-repeat;
}


.picture-3 {
    background: url('../img/4.jpg') no-repeat;
}


.picture-4 {
    background: url('../img/5.jpg') no-repeat;
}


.picture-5 {
    background: url('../img/6.jpg') no-repeat;
}


.picture-6 {
    background: url('../img/7.jpg') no-repeat;
}


.overlay-background {
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    z-index: 1;
    mix-blend-mode: saturation;
    height: 100%;
    background: #000;
}

.picture-text {
    position: absolute;
    z-index: 1;
    color: #fff;
    width: 100%;
    text-align: center;
}

html,
body {
    position: relative;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.swiper-container {
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    transition-timing-function: cubic-bezier(.3, .91, .39, 1);
    transition-delay: 0.4s;
}

ul.tag-work li:not(:first-child)::before {
    content: '';
    height: 7px;
    width: 7px;
    background: #fff;
    border-radius: 7px;
    margin-top: 8px;
    margin-left: -17px;
    position: absolute;
}

.up-down {
    position: fixed;
    transform: translatey(-50%);
    top: 50%;
    right: 2%;
    z-index: 10;
    cursor: none;
}

.up-down .to-up {
    margin-bottom: 50px;
}

.up-down .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 30px;
}

.up-down .circle:hover {
    border: 2px solid rgba(255, 255, 255, .5);
}

.up-down .circle .arrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20px;
    left: 19px;

}

.up-down .to-up .circle .arrow::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.up-down .to-down .circle .arrow::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    margin-top: -4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(134deg);
    transform: rotate(134deg);
}

.swiper-pagination-fraction {
    height: 30px;
    position: fixed;
    right: 2.7%;
    transform: translateY(-50%);
    top: 50%;
    bottom: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.swiper-pagination-fraction span {
    font-size: 16px;
    font-weight: 700;
}

.overlay-1 {
    position: absolute;
    width: 20%;
    height: 0;
    background: #7AF5FD;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.overlay-2 {
    position: absolute;
    width: 20%;
    height: 0;
    left: 20%;
    background: #7AF5FD;
    z-index: 2;
    bottom: 0;
}

.overlay-3 {
    position: absolute;
    width: 20%;
    height: 0;
    left: 40%;
    background: #7AF5FD;
    z-index: 2;
    bottom: 0;
}

.overlay-4 {
    position: absolute;
    width: 20%;
    height: 0;
    left: 60%;
    background: #7AF5FD;
    z-index: 2;
    bottom: 0;
}

.overlay-5 {
    position: absolute;
    width: 20%;
    height: 0;
    left: 80%;
    background: #7AF5FD;
    z-index: 2;
    bottom: 0;
}

.border-fixed {
    pointer-events: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 10px solid #fff;
    z-index: 99999;
}
